* {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 80px;
}

.wholePage {
    width: 1150px;
    margin-left: auto;
    margin-right: auto;
}

.introBanner {
    height: 740px;
    padding: 25px 90px;
}

.topNav {
    display: flex;
    justify-content: space-between;
}

.reactLogo1 {
    position: absolute;
    left: 900px;
}
.reactLogo2 {
    position: absolute;
    left: 1000px;
    top: 370px;
    height: 250px;
}
.reactLogo3 {
    position: absolute;
    left: 820px;
    top: 540px;
    height: 240px;
}
.reactLogo4 {}
.reactLogo5 {}

.bannerContent {
    margin-top: 170px;
    width: 500px;
}

.bannerContent>p {
    font-size: 1.5em;
    font-weight: 100;
    width: 300px;
}

.bannerContent>button {
    margin-top: 80px;
    width: 180px;
    height: 80px;
    border-radius: 5px;
    background-color: white;
    color: #1F2535;
    font-size: 1.5em;
    font-weight: bold;
}    

.componentCards {
    display: flex;
    justify-content: space-between;
    margin: 160px 80px;

}

.card {
    width: 200px;
    /* border: 1px solid pink */
}

.card>img {
    height: 150px;
}

.cardText {
    margin: 15px;
}

.cardText>h3 {
    font-size: 1.6em;
    letter-spacing: 0.1em;
    color: #1F2535;
}

.cardText>p {
    margin-top: 10px;
    font-size: 1.2em;
    color: #1F2535;
}